html, body {
    height: 100%;
    margin: 0px;
    background-color: grey;
}

h1 {
    margin: 0px;
}

.wrapper {
    top: 0px;
    width: 1200px;
    height: 820px;
    background:green;
    position: relative;
}

header {
    display: block;
    height: 100px;
    background: #43362A;
}

.header_title {
    color: #C7AD24;
    margin: auto;
    top: 30px;
    width: 300px;
    height: 40px;
    background-color: #43362A;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.main_content {
    display: block;
    width: 1200px;
    height: 750px;
}

aside {
    width: 300px;
    height: 750px;
    background-color: #A0A584;

    padding: 0px;
    margin: 0px;
    overflow: auto;
    float: left;
}

.filtr_block_title {

    padding-top: 10px;
    width: 300px;
    height: 30px;
    font-style: bold;
    color: #1A3431;
    background-color: #697153;
    text-align: center;
    position: relative;

}

.filtr_control_block {
    top: 20px;
    left: 10px;
    width: 180px;
    height: 150px;
    background-color: #A0A584;
    text-align: center;
    position: relative;
}

article {
    width: 900px;
    height: 750px;
    background-color: #C8B272;
    display: inline-block;
}

.user_list_area {
    top: 5px;
    left: 5px;
    width: 890px;
    height: 530px;
    position: relative;
    background-color: #CCC776;
}

.user_list_content {
    top: 20px;
    position: relative;
}

.user {
    left: 10px;
    width: 660px;
    height: 48px;
    margin-bottom: 40px;
    position: relative;
}

.user_button_ready {
    width: 48px;
    height: 48px;
    background-image: url("../img/ready.png");
    cursor: pointer;
    float: left;
}

.user_checkbox_unchecked {
    width: 48px;
    height: 48px;
    background-image: url("../img/cross.png");
    cursor: pointer;
    float: left;
}

.user_input_field {
    left: 20px;
    top: 5px;
    width: 550px;
    height: 30px;
    position: relative;
    text-align: left;
    float: left;
}

.user_list_area input[type=text]:hover {
    color: blue;
    cursor: pointer;
}

.user_list_area input[type=text]:focus {
    background: #f8f8f8;
    border: 1px solid #999;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style:normal;
    border: 1px blue solid;
}

.user_list_area input[type=text] {
    background: #CCC776;
    border: 0px;
    font-family: BadScript, 'Comic Sans MS', cursive;
    font-size: 15pt;
}

.user_button_trash {
    left: 10px;
    width: 48px;
    height: 48px;
    position: relative;
    background-image: url("../img/trash48.png");
    cursor: pointer;
    float: left;
}

.pagination_area {
    left:250px;
    top:  -50px;
    width: 200px;
    height: 48px;
    position: relative;
    background-color: #CCC776;
}

.pagination_to_left_button {
    width: 48px;
    height: 48px;
    background-image: url("../img/to_left48.png");
    cursor: pointer;
    float: left;
}

.pagination_text {
    left: 10px;
    top: 10px;
    width: 75px;
    height: 30px;
    text-align: center;
    position: relative;
    float: left;
}

.pagination_to_right_button {
    left: 20px;
    width: 48px;
    height: 48px;
    background-image: url("../img/to_right48.png");
    cursor: pointer;
    position: relative;
    float: left;
}

.add_user_area {
    left: 5px;
    top: -40px;
    width: 890px;
    height: 205px;
    background-color: #A0A584;
    position: relative;
}

.add_user_title {
    padding-top: 10px;
    height: 30px;
    font-style: bold;
    color: #1A3431;
    background-color: #697153;
    position: relative;
    text-align: center;
}

.add_user_content {
    top: 10px;
    left: 10px;

    width: 640px;
    height: 48px;
    padding: 0px;
    position: relative;
}


.form_add_input {
    left: 20px;
    top: 10px;
    width: 500px;
    height: 30px;
    position: relative;
    text-align: left;
    float: left;
}

.form_add_button {
    left: 600px;
    width: 48px;
    height: 48px;
    position: relative;
    background-image: url("../img/plus.png");
    cursor: pointer;
}


footer {
    width: 900px;
    height: 20px;
    bottom: 0px;
    background-color: #43362A;
    text-align: center;
}


